apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
        - name: todo
          image: docker.io/greeshma258/todo-app:13
          ports:
            - containerPort: 5000
      imagePullSecrets:
        - name: dockerhub-secret
